@import "tailwindcss";

@theme {
  --breakpoint-xs: 320px; /* Extra small phones */
  --breakpoint-sm: 480px; /* Small phones */
  --breakpoint-md: 768px; /* Tablets */
  --breakpoint-lg: 976px; /* Small laptops */
  --breakpoint-xl: 1200px; /* Desktop */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* body{
  background: #F7F7F9;
} */

@layer utilities {
  .gradient-text {
    background-image: linear-gradient(
      416deg,
      rgb(253, 220, 91) 0%,
      rgb(255, 166, 39) 50%,
      rgb(255, 102, 98) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .responsive-container {
    @apply max-w-[30rem] md:max-w-[74rem] mx-auto px-10;
  }
  .smart-track-card {
    background: linear-gradient(
      165.75267095019893deg,
      rgb(253, 220, 91) 0%,
      rgb(255, 166, 39) 50%,
      rgb(255, 102, 98) 100%
    );
  }

  .noFee-card {
    background: linear-gradient(0deg, #1abcfa, #1c7df3);
  }
  .daily-cash-card {
    background: linear-gradient(
      180deg,
      #8be962 28.999999165534973%,
      #6cd179 87.00000047683716%
    );
  }
  .animate-moveUpDown {
    animation: moveUpDown 4s infinite;
  }

  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(40px);
    }
  }
}
